@import 'tailwindcss';

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1a2530;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
